{% extends "base.html" %}

{% block content %}
    <section class="opp-sec">

        <div class="add-head">
            <h2>OPPORTUNITIES</h2>
            <a href="{{ url_for('add') }}" class="btn btn-small">Create opportunity +</a>
        </div>
        <br><hr>

        <div class="opportunities">
            <div class="opportunity">
                <div class="card">
                    <div class="card-head">
                        <div class="card-title">
                            <h3>Software Engineering Inter</h3>
                            <p class="inactive">Safaricom</p>
                        </div>
                        <div class="sub-date">
                            <p class="inactive">2 Min ago.</p>
                        </div>
                    </div>
                    <div class="card-body">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos sit excepturi numquam! Fugiat cum error aperiam fugit doloremque molestias quibusdam!</p>
                    </div>
                    <div class="author">
                        <p class="inactive">Posted by: <a href="#">John Doe</a></p>
                    </div>
                </div>
            </div>
            <div class="opportunity">
                <div class="card">
                    <div class="card-head">
                        <div class="card-title">
                            <h3>Software Engineering Inter</h3>
                            <p class="inactive">Safaricom</p>
                        </div>
                        <div class="sub-date">
                            <p class="inactive">2 Min ago.</p>
                        </div>
                    </div>
                    <div class="card-body">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos sit excepturi numquam! Fugiat cum error aperiam fugit doloremque molestias quibusdam!</p>
                    </div>
                    <div class="author">
                        <p class="inactive">Posted by: <a href="#">John Doe</a></p>
                    </div>
                </div>
            </div>
            <div class="opportunity">
                <div class="card">
                    <div class="card-head">
                        <div class="card-title">
                            <h3>Software Engineering Inter</h3>
                            <p class="inactive">Safaricom</p>
                        </div>
                        <div class="sub-date">
                            <p class="inactive">2 Min ago.</p>
                        </div>
                    </div>
                    <div class="card-body">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos sit excepturi numquam! Fugiat cum error aperiam fugit doloremque molestias quibusdam!</p>
                    </div>
                    <div class="author">
                        <p class="inactive">Posted by: <a href="#">John Doe</a></p>
                    </div>
                </div>
            </div>
            <div class="opportunity">
                <div class="card">
                    <div class="card-head">
                        <div class="card-title">
                            <h3>Software Engineering Inter</h3>
                            <p class="inactive">Safaricom</p>
                        </div>
                        <div class="sub-date">
                            <p class="inactive">2 Min ago.</p>
                        </div>
                    </div>
                    <div class="card-body">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos sit excepturi numquam! Fugiat cum error aperiam fugit doloremque molestias quibusdam!</p>
                    </div>
                    <div class="author">
                        <p class="inactive">Posted by: <a href="#">John Doe</a></p>
                    </div>
                </div>
            </div>
            <div class="opportunity">
                <div class="card">
                    <div class="card-head">
                        <div class="card-title">
                            <h3>Software Engineering Inter</h3>
                            <p class="inactive">Safaricom</p>
                        </div>
                        <div class="sub-date">
                            <p class="inactive">2 Min ago.</p>
                        </div>
                    </div>
                    <div class="card-body">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos sit excepturi numquam! Fugiat cum error aperiam fugit doloremque molestias quibusdam!</p>
                    </div>
                    <div class="author">
                        <p class="inactive">Posted by: <a href="#">John Doe</a></p>
                    </div>
                </div>
            </div>
            <div class="opportunity">
                <div class="card">
                    <div class="card-head">
                        <div class="card-title">
                            <h3>Software Engineering Inter</h3>
                            <p class="inactive">Safaricom</p>
                        </div>
                        <div class="sub-date">
                            <p class="inactive">2 Min ago.</p>
                        </div>
                    </div>
                    <div class="card-body">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos sit excepturi numquam! Fugiat cum error aperiam fugit doloremque molestias quibusdam!</p>
                    </div>
                    <div class="author">
                        <p class="inactive">Posted by: <a href="#">John Doe</a></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}