{% extends "base.html" %}

{% block content %}
    <section class="opp-sec">

        <div class="add-head">
            <h2>OPPORTUNITIES</h2>
            <a href="{{ url_for('add') }}" class="btn btn-small">Create opportunity +</a>
        </div>
        <br><hr>

        <div class="opportunities">
            {% for opportunity in opportunities %}
                <ul>
                    <li><a href="/opportunity/{{ opportunity['id'] }}">
                        <div class="opportunity">
                            <div class="card">
                                <div class="card-head">
                                    <div class="card-title">
                                        <h3>{{ opportunity['title'] }}</h3>
                                        <p class="inactive">{{ opportunity['title'] }}</p>
                                    </div>
                                    <div class="sub-date">
                                        <p class="inactive">{{ opportunity['date_posted'] }}</p>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <p>{{ opportunity['description'] }}</p>
                                </div>
                                <div class="author">
                                    <p class="inactive">Posted by: <a href="#">{{ opportunity['author'] }}</a></p>
                                </div>
                            </div>
                        </div>
                    </a></li>
                </ul>
            {% endfor %}
        </div>

    </section>
{% endblock %}