{% extends "base.html" %}

{% block content %}
    <section class="sect top-sect">
        <div class="add-form container">
            <h3 style="color:#fff; text-align: center;">Log in</h3>
            <div class="opp-form">
                <form method="POST" class="row g-3">
                    {{ form.hidden_tag() }}
                    <div class="col-md-12">
                        {{ form.email.label(class="form-label") }}
                        {{ form.email(class="form-control") }}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-12">
                        {{ form.password.label(class="form-label") }}
                        {{ form.password(class="form-control") }}
                        <div class="invalid-feedback">
                            {% for error in form.password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-12">
                        {{ form.submit(class="btn btn-primary") }}
                    </div>
                    <div class="col-12 inactive">
                        <p>Dont have an account? <a href="{{ url_for('signup') }}" style="color: #3949ab">Sign up</a></p>
                    </div>
                </form>
            </div>

        </div>
    </section>
    <section class="sect btom-sect">
    </section>
{% endblock %}